<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
	xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:jms="http://www.springframework.org/schema/integration/jms"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http-2.1.xsd
        http://www.springframework.org/schema/integration/amqp http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
        http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail-2.1.xsd
        http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.1.xsd
        http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file-2.1.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
        http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.1.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Book Inventory Add Service Starts -->
	<int:channel id="inventoryBookAddReqChannel" />
	<int:channel id="inventoryBookAddResChannel" />

	<int-http:inbound-gateway id="inventoryBookAddInboundGateway"
		request-channel="inventoryBookAddReqChannel" reply-channel="inventoryBookAddResChannel"
		supported-methods="GET, POST" reply-timeout="5000" path="/inventoryBookAdd"
		request-payload-type="java.lang.String" mapped-response-headers="Content-Type" />

	<int:json-to-object-transformer id="jsonToinventoryBookAddConverter"
		input-channel="inventoryBookAddReqChannel" output-channel="inventoryBookAddActivatorInChannel"
		type="com.sample.bookinventory.dto.BookDTO" />

	<int:object-to-json-transformer
		id="inventoryBookAddActivatorOutChannelJsonConverter" input-channel="inventoryBookAddResChannel" />

	<int:service-activator input-channel="inventoryBookAddActivatorInChannel"
		method="addBook">
		<bean
			class="com.sample.bookinventory.service.activator.BookInventoryServiceActivator" />
	</int:service-activator>
	<!-- Book Inventory Add Service Ends -->

	<!-- Book Inventory Get Service Starts -->
	<int:channel id="inventoryBookGetReqChannel" />
	<int:channel id="inventoryBookGetResChannel" />

	<int-http:inbound-gateway id="inventoryBookGetInboundGateway"
		request-channel="inventoryBookGetReqChannel" reply-channel="inventoryBookGetResChannel"
		supported-methods="GET, POST" reply-timeout="5000" path="/findInventoryBook"
		request-payload-type="java.lang.String" mapped-response-headers="Content-Type" />

	<int:json-to-object-transformer id="jsonToinventoryBookGetConverter"
		input-channel="inventoryBookGetReqChannel" output-channel="inventoryBookGetActivatorInChannel"
		type="java.util.HashMap" />

	<int:object-to-json-transformer
		id="inventoryBookGetActivatorOutChannelJsonConverter" input-channel="inventoryBookGetResChannel" />

	<int:service-activator input-channel="inventoryBookGetActivatorInChannel"
		method="getBook">
		<bean
			class="com.sample.bookinventory.service.activator.BookInventoryServiceActivator" />
	</int:service-activator>
	<!-- Book Inventory Get Service Ends -->

	<!-- Book Inventory Get XML Service Starts -->
	<int:channel id="inventoryBookGetXmlReqChannel" />
	<int:channel id="inventoryBookGetXmlResChannel" />

	<int-http:inbound-gateway id="inventoryBookGetXmlInboundGateway"
		request-channel="inventoryBookGetXmlReqChannel" reply-channel="inventoryBookGetXmlResChannel"
		supported-methods="GET, POST" reply-timeout="5000" path="/findInventoryBookXml"
		request-payload-type="java.lang.String" mapped-response-headers="Content-Type" />

	<int:json-to-object-transformer id="jsonToinventoryBookGetXmlConverter"
		input-channel="inventoryBookGetXmlReqChannel" output-channel="inventoryBookGetXmlActivatorInChannel"
		type="java.util.HashMap" />

	<int:object-to-json-transformer
		id="inventoryBookGetXmlActivatorOutChannelJsonConverter"
		input-channel="inventoryBookGetXmlResChannel" />

	<int:service-activator input-channel="inventoryBookGetXmlActivatorInChannel"
		method="getBookXml">
		<bean
			class="com.sample.bookinventory.service.activator.BookInventoryServiceActivator" />
	</int:service-activator>
	<!-- Book Inventory Get XML Service Ends -->

	<!-- Book Inventory Delete Service Starts -->
	<int:channel id="inventoryBookDeleteReqChannel" />
	<int:channel id="inventoryBookDeleteResChannel" />

	<int-http:inbound-gateway id="inventoryBookDeleteInboundGateway"
		request-channel="inventoryBookDeleteReqChannel" reply-channel="inventoryBookDeleteResChannel"
		supported-methods="Delete, POST" reply-timeout="5000" path="/deleteInventoryBook"
		request-payload-type="java.lang.String" mapped-response-headers="Content-Type" />

	<int:json-to-object-transformer id="jsonToinventoryBookDeleteConverter"
		input-channel="inventoryBookDeleteReqChannel" output-channel="inventoryBookDeleteActivatorInChannel"
		type="java.util.HashMap" />

	<int:object-to-json-transformer
		id="inventoryBookDeleteActivatorOutChannelJsonConverter"
		input-channel="inventoryBookDeleteResChannel" />

	<int:service-activator input-channel="inventoryBookDeleteActivatorInChannel"
		method="deleteBook">
		<bean
			class="com.sample.bookinventory.service.activator.BookInventoryServiceActivator" />
	</int:service-activator>
	<!-- Book Inventory Delete Service Ends -->
</beans>
